@font-face {
	font-family: 'Ano-web';
	src: url('/fonts/2466765/9b1d752a-575e-4d49-9cb7-db3223777f47.woff2') format('woff2'),
		url('/fonts/2466765/b9eb9968-39c3-4d2d-882a-302cf860e114.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Ano-web';
	src: url('/fonts/2466777/2792b279-5b1b-47b6-839f-5bc9163b442c.woff2') format('woff2'),
		url('/fonts/2466777/ae29d4a4-5f5c-4a66-b4fe-55286a973389.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-body: Ano-web, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-family: var(--font-body);
	color: black;
	--bg-dark: #262626;
	--bg-light: #e6e4df;
	--bg-light-green: #e9f1cf;
	--text-light: #fefefe;
	--text-dark: var(--bg-dark);
	--text-highlight: #ebffbf;
	--gutter-sm: 16px;
	--gutter-lg: 32px;
	--cubic-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--top-nav-height: 80px;
	--level10: 1000;
	--level9: 900;
	--level8: 800;
	--level7: 700;
	--level6: 600;
	--level5: 500;
	--level4: 400;
	--level3: 300;
	--level2: 200;
	--level1: 100;
	--level0: 0;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	background: var(--bg-dark);
	color: var(--text-light);
}

* {
	box-sizing: border-box;
}

.gutter {
	padding-left: var(--gutter-sm);
	padding-right: var(--gutter-sm);
}

@media (min-width: 560px) {
	.gutter {
		padding-left: var(--gutter-lg);
		padding-right: var(--gutter-lg);
	}
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
