@font-face {
	font-family: 'Ano-web';
	src: url('/fonts/2466765/9b1d752a-575e-4d49-9cb7-db3223777f47.woff2') format('woff2'),
		url('/fonts/2466765/b9eb9968-39c3-4d2d-882a-302cf860e114.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Ano-web';
	src: url('/fonts/2466777/2792b279-5b1b-47b6-839f-5bc9163b442c.woff2') format('woff2'),
		url('/fonts/2466777/ae29d4a4-5f5c-4a66-b4fe-55286a973389.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-body: Ano-web, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-family: var(--font-body);
	color: black;
	--bg-dark: #262626;
	--bg-darker: #202020;
	--bg-light: #e6e4df;
	--bg-light-green: #e9f1cf;
	--bg-default: var(--bg-dark);
	--bg-rust: #6d3434;
	--bg-olive: #3f4239;
	--text-light: #fefefe;
	--text-light-60: hsla(0, 0%, 100%, 0.6);
	--text-light-40: hsla(0, 0%, 100%, 0.4);
	--text-light-30: hsla(0, 0%, 100%, 0.3);
	--text-light-15: hsla(0, 0%, 100%, 0.15);
	--text-light-5: hsla(0, 0%, 100%, 0.05);
	--text-dark: var(--bg-dark);
	--text-highlight: #ebffbf;
	--gray-mid: #373636;
	--blue: #284aac;
	--error-text: var(--text-highlight);
	--gutter-sm: 16px;
	--gutter-lg: 32px;
	--ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--column-width: calc((100vw - var(--gutter-sm)) * (1 / 4));
	--top-nav-height: 80px;
	--level10: 1000;
	--level9: 900;
	--level8: 800;
	--level7: 700;
	--level6: 600;
	--level5: 500;
	--level4: 400;
	--level3: 300;
	--level2: 200;
	--level1: 100;
	--level0: 0;
	--40pt: 2.5rem;
	--38pt: 2.375rem;
	--36pt: 2.25rem;
	--32pt: 2rem;
	--26pt: 1.625rem;
	--24pt: 1.5rem;
	--22pt: 1.375rem;
	--20pt: 1.25rem;
	--18pt: 1.125rem;
	--16pt: 1rem;
	--14pt: 0.875rem;
	--12pt: 0.75rem;
	--button-height-large: 48px;
	--button-height-small: 40px;
	--input-border-radius: 24px;
	--bg-color-timing: 600ms;
	--text-color: var(--text-light);
	--text-color-60: var(--text-light-60);
	--text-color-40: var(--text-light-40);
	--text-color-30: var(--text-light-30);
	--text-color-15: var(--text-light-15);
	--text-color-5: var(--text-light-5);
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	background: var(--bg-dark);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	transition: background-color var(--bg-color-timing) var(--ease-in-out-sine);
}

body.bg-is-light {
	--text-color: var(--bg-dark);
	--text-color-60: hsla(0, 0%, 15%, 0.6);
	--text-color-40: hsla(0, 0%, 15%, 0.5);
	--text-color-30: hsla(0, 0%, 15%, 0.4);
	--text-color-15: hsla(0, 0%, 15%, 0.25);
	--text-color-5: hsla(0, 0%, 15%, 0.25);
	--error-text: #c72797;
}

* {
	box-sizing: border-box;
}

.gutter {
	padding-left: var(--gutter-sm);
	padding-right: var(--gutter-sm);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: var(--40pt);
}

h2 {
	font-size: var(--24pt);
}

h3 {
	font-size: var(--22pt);
}
h1,
h2,
h3 {
	margin-bottom: 2rem;
}

h4,
h5,
h6 {
	font-size: var(--18pt);
	line-height: var(--24pt);
}

p,
li {
	font-size: var(--16pt);
	line-height: 1.5rem;
	margin: 1.25em 0;
}

ol {
	padding-left: 1.125rem;
}

input,
textarea,
button {
	font-size: inherit;
	font-family: var(--font-body);
}

button:focus:not(:focus-visible) {
	outline: none;
}

form button {
	cursor: pointer;
	height: var(--button-height-large);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--text-light);
	background: transparent;
	color: var(--text-light);
	transition: border-color 0.2s linear;
	display: block;
	width: 100%;
	font-weight: bold;
}
form button:hover {
	border-color: var(--text-light);
}
form button:disabled {
	border-color: var(--text-light-30);
	color: var(--text-light-30);
	cursor: default;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* Section background colors */
.bg-transparent {
	background: transparent;
}
.bg-dark {
	background: rgba(0, 0, 0, 0.2);
}
.bg-darker {
	background: rgba(0, 0, 0, 0.41);
}
.bg-rust .bg-dark {
	background-color: #582a2c;
}
.bg-rust .bg-darker {
	background-color: #432023;
}

/* Desktop sizing */

@media (min-width: 720px) {
	:root {
		--column-width: calc((100vw - var(--gutter-lg)) * (1 / 12));
	}
	.gutter {
		padding-left: var(--gutter-lg);
		padding-right: var(--gutter-lg);
	}

	h1 {
		font-size: var(--40pt);
	}

	h2 {
		font-size: var(--26pt);
	}

	h3 {
		font-size: var(--24pt);
	}
	h4,
	h5,
	h6 {
		font-size: var(--20pt);
	}
	h1,
	h2,
	h3 {
		margin-bottom: 2rem;
	}
	p,
	li {
		font-size: var(--18pt);
	}
}
